@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Everything Store</h1>
    <p class="lead">this site is build in COMP2084 server side scripting.
    It uses MVC 5, SQL server, entity framework and twitter bootStrap.
    </p>
    <p>source code available on <a href="">GITHUB</a></p>
    
</div>

